#sidebar {
	/* view port height */
	height: calc(100vh - 60px);
	width: 15%;
	background: lightgoldenrodyellow;
	position: fixed;
	left: 0;
	top: 60px;
	overflow: scroll;
	font-family: '微軟正黑體';
}

#sidebar .menu {
	display: inline-block;
	width: 85%;
	padding: 1rem;
}

#sidebar .menu h2 {
	padding: 1rem;
}

#sidebar .menu li {
	list-style: none;
	display: block;
	padding: 5px;
	font-size: 1rem;
}

#sidebar .menu li a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.5rem 1.5rem;
	transition: 0.5s;
}

#sidebar .menu li a:hover {
	border-radius: 10px;
	background: grey;
}

#login {
	width: 35%;
	list-style: none;
	margin: 1rem;
	display: block;
	box-sizing: border-box;
	font-size: 1rem;
	border: 1px solid rgb(153, 151, 151);
	border-radius: 20px;
}

#login a {
	list-style: none;
	text-decoration: none;
	color: rgb(65, 65, 238);
	display: block;
	padding: 5px;
	font-size: 1rem;
	transition: 0.25s;
}

#login a:hover {
	border-radius: 20px;
	background: rgb(199, 226, 244);
}